body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1080px;
  padding-top: 20px;
  margin: 0 auto !important;
  float: none !important;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#dataInputs {
  justify-content: center;
  display: grid;
}

#dataInputs div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

label {
  margin-right: 100px;
}

#streamDataBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
